<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head') %> 
<body>
    <%- include('partials/header')  %> 
    
    <main class="cart">
        <div class="cart-title"><h2>Carrito de Compras</h2></div>

        <div class="border-top"></div>
        <div class="product">
            <div class="product-details">
            <img src="/img/marco-1.jpeg" alt="Imagen producto">
            
                <div class="product-specs">
                    <ul>
                    <li> Marco para fotos</li>
                    <li class="li-2"> Color: Unico</li>
                    <li class="li-2"> Tamaño: S</li>
                </ul>
                </div>
                <div class="product-quantity">
                <i class="fas fa-minus"></i>   
                <div class="quantity-number">1 </div>
                <i class="fas fa-plus"></i>
                </div>
                <div class="product-price">$1000</div>
                <div class="bin"><i class="fas fa-trash-alt"></i></div>
            </div>
           
        </div>
        <div class="border-top"></div>
        <div class="product">
            <div class="product-details">
            <img src="/img/marco-1.jpeg" alt="Imagen producto">
                <div class="product-specs">
                    <ul>
                    <li> Marco para fotos</li>
                    <li class="li-2"> Color: Unico</li>
                    <li class="li-2"> Tamaño: S</li>
                </ul>
                </div>
                <div class="product-quantity">
                <i class="fas fa-minus"></i>   
                <div class="quantity-number">1 </div>
                <i class="fas fa-plus"></i>
                </div>
                <div class="product-price">$1000</div>
                <div class="bin"><i class="fas fa-trash-alt"></i></div>
            </div>
            
        </div>

        <div class="border-top"></div>
        <div class="discount-total">
            <div>
            <h4 class="cupon-discount">Agrega tu cupon de descuento</h4>
            <div class="border-top"></div>
            <div class="input-discount"><input type="text" class="codigo-cupon">
            <button type="submit" class="cupon">Agregar</button></div>
        </div>

        <div class="total-shopping">
            <h4 class="total-title">Resumen de compras</h4>
            <div class="border-top"></div>
            <h5 class="ship-cost">Calcular envio</h5>
            <div class="envio">
                <div class="input-shipping"><input type="text">
                <button type="submit" class="button-cal">Calcular</button>  </div>  
            </div>
            <div class="total-order"><h5 class="total">Total del pedido</h5>
            <div class="suma-pedido">$3000.00</div></div>
            <div class="confirm-button">
                <button type="submit" class="button-order">Realizar el pedido</button>
            </div>
        </div>
        </div>


    </main>
    <%- include('partials/footer')  %> 
</body>
</html>