<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head') %> 
<body>
    <%- include('partials/header')  %> 

        <main> 
        <div class="ingresa">INGRESÁ A TU CUENTA</div>
        <form  method="POST" action="/users/login" class="login">
        <div class="form-control">
            <label for="">Email</label>
            <input type="email" name="email">
            <% if (locals.errors && errors.email) { %> 
                <div class="text-danger">
                    <%= errors.email.msg %> 
                </div>
            <% } %> 
        </div>

        
        <div class="form-control">
            <label for="">Contraseña</label>
            <input type="password" name="password">
        </div>

        <input type="checkbox" name="recordame" id=""><label for="">Recordame</label>
        
        <button type="submit" class="enviar">Iniciar sesión</button>
        

        </form> 
        <p class="login">¿No tenes cuenta? ¡Registrate <a class="register-here" href="/register">aquí</a>!</p>
            
        </main>


        <%- include('partials/footer')  %> 
       
    </body>
    </html>